.main{
    position: relative;
    background-color: #064EA5;
}

.form{
    position: absolute;
    display: grid;
    align-items: center;
    width: 30%;
    height: 50%;
    border-radius: 20px;
    top: 100px;
    left: 35%;
    background-color: #fff;
}

.form__title{
    font-size: 20px;
    font-weight: 700;
    color: #064EA5;
}

.form__label{
    margin: 0px 5px;
}

.form__icon{
    display: inline;
}

.form__container{
    border-radius: 10px;
    border: 2px solid #64a5f581;
    padding: 5px 0px;
    width: 80%;
    margin: 10px auto;
}

.form__input{
    width: 85%;
}

.form__input:focus{
    outline: none;
    background-color: #fff;
}

.form__button{
    background-color: #064EA5;
    color: #fff;
    border-radius: 10px;
    padding: 10px 25px;
}

@media screen and (max-width: 480px) {
    .form{
        left: 20px;
        width: 90%;
    }
}