.login-container{
    position: relative;
    text-align: center;
    height: 65%;
}

.form{
    position: absolute;
    display: grid;
    align-items: center;
    width: 30%;
    height: 70%;
    top: 20%;
    left: 34%;
    border-radius: 20px;
    border: 3px solid #064ea5ad;
    background-color: #fff;
}

.form__title{
    font-size: 20px;
    font-weight: 700;
    color: #4d5d71b9;
}

.form__label{
    margin: 0px 5px;
}

.form__icon{
    display: inline;
}

.form__container{
    border-radius: 10px;
    border: 2px solid #064ea5ad;
    padding: 5px 0px;
    width: 80%;
    margin: 10px auto;
}

.form__input{
    width: 85%;
}

.form__input:focus{
    outline: none;
    background-color: #fff;
}

.form__button{
    background-color: #064ea5ad;
    color: #fff;
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 600;
}

@media screen and (max-width: 480px) {
    .form{
       width: 90%;
       left: 5.5%;
    }
}